<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form name="product" method="post" action="">
	<table>
			<thead>
		      <tr>
		        <th>Nuevo Item</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
			<thead>
		      <tr>
		        <th>Descripción</th>
		        <th>
		        <input type="text" value="" name="name"/>
		        </th>
		      </tr>
		      <tr>
		        <th>Precio</th>
		        <th>
		        <input type="text" value="" name="price"/>
		        </th>
		      </tr>
		      <tr>
		        <th></th>
	   	        <th>
		        <input type="submit" value="Enviar" name="submit"/>
		        </th>
		      </tr>
		    </tbody>
	</table>
</form>
<br/><br/>
    <table>
		<thead>
	      <tr>
	        <th>Item</th>
	        <th>Price</th>
	      </tr>
	    </thead>
	    <tbody>
			<tr th:each="item : ${allProducts}">
			  <td th:text="${item.name}"></td>
			  <td th:text="${item.price}"></td>
			</tr>		
		</tbody>
    </table>
    <br/><br/>
</body>
</html>
